<!-- <mat-toolbar color="primary">
  <span><a routerLink="/">{{ title }}</a></span>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/home">Home</button>
  <button mat-menu-item routerLink="/about">About</button>
</mat-menu> -->

  
  <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
      <a class="navbar-brand uppercase header-line" routerLink="/"> {{ title }}</a>
      <a class="nav-link ml-auto mr-1 uppercase home-line" routerLink="/home">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
          <ul class="navbar-nav text-right">
              <li class="nav-item active">
                  <a class="nav-link uppercase about-line" routerLink="/about">About</a>
              </li>
          </ul>
      </div>
  </nav>

 