#sketch-clustering {
  margin: 16px;
  display: flex;
  justify-content: center;
}

#slider-size {
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  justify-content: center;
  transform: scale(2);
}
