#sketch-clustering {
  margin: 16px;
  display: flex;
  justify-content: center;
}

#slider-size {
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  justify-content: center;
  transform: scale(2);
}

.ftco-section-parallax {
  position: relative;
}

.ftco-section-parallax .parallax-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 10em 0;
  background: #7F7FD5;
  background: -moz-linear-gradient(45deg, #7F7FD5 0%, #91EAE4 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #7F7FD5), color-stop(100%, #91EAE4));
  background: -webkit-linear-gradient(45deg, #7F7FD5 0%, #91EAE4 100%);
  background: -o-linear-gradient(45deg, #7F7FD5 0%, #91EAE4 100%);
  background: -ms-linear-gradient(45deg, #7F7FD5 0%, #91EAE4 100%);
  background: linear-gradient(45deg, #7F7FD5 0%, #91EAE4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#448ef6', endColorstr='#af05a9', GradientType=1);
}

.ftco-section-parallax .heading-section-white h2 {
  font-weight: 400 !important;
}


.ftco-section-parallax {
  position: relative;

  .parallax-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 10em 0;

  }

  .heading-section-white {
    h2 {
      font-weight: 400 !important;
    }
  }
}