<div id="detail" class="grid-container">
  <div id="sketch-detail" class="padding"></div>
  <div class="stats padding">
    <mat-card class="bg-color" [style.height.px]="heightLarge">
      <mat-card-header>
        <mat-card-title class="nunito">Represented Hashtag: #{{ cluster.hashtag }}</mat-card-title>
        <mat-card-subtitle class="nunito">Cluster {{ cluster.id }}</mat-card-subtitle>
      </mat-card-header>
      <h3 mat-subheader class="nunito subheader margin-bottom">Tweets</h3>
      <mat-divider class="mat-divider tweets-divider"></mat-divider>
      <mat-card-content class="scroll" [style.height.px]="heightSmall">
        <div>
          <mat-card class="tweet nunito black-font" *ngFor="let tweet of cluster.documents">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="user-size">@{{ tweet.user }}</mat-card-title>
              <mat-card-subtitle class="nunito black-font date-size">{{ tweet.time }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              {{ tweet.text }}
            </mat-card-content>
            <mat-card-footer class="stats">
              <mat-icon svgIcon="likes"></mat-icon>&nbsp;&nbsp;{{ tweet.likes | number:'1.0' }} likes&nbsp;&nbsp;&nbsp;
              <mat-icon svgIcon="retweets"></mat-icon>&nbsp;&nbsp;{{ tweet.retweets | number:'1.0' }} retweets&nbsp;
            </mat-card-footer>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="padding padding-side">
  <mat-card class="bg-color size">
    <h3 mat-subheader class="nunito subheader center">Word Count</h3>
    <mat-divider class="mat-divider"></mat-divider>
    <mat-card-content class="word-count">
      <mat-grid-list cols="7" rowHeight="100px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <h3 mat-subheader class="nunito">Total</h3>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let wordCount of cluster.wordCount.slice(0, 5)" [colspan]="1" [rowspan]="1">
          <h3 mat-subheader class="nunito">{{ wordCount.word }}</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <h3 mat-subheader class="nunito count">{{ cluster.wordCount.length }}</h3>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let wordCount of cluster.wordCount.slice(0, 5)" [colspan]="1" [rowspan]="2">
            <h3 mat-subheader class="nunito count">{{ wordCount.count }}</h3>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
